<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
            <h1><a href="#">Django Girls Blog</a></h1>
        </header>
        
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, esse. Cupiditate sit doloremque natus. Nesciunt ab officiis adipisci laboriosam nisi obcaecati sed rem? Nemo necessitatibus pariatur et eaque odio nam?</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="#">My second post</a></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias accusamus modi nostrum mollitia obcaecati at sequi, recusandae, eum deserunt quas enim unde cumque beatae laudantium! Voluptas sint ipsam eius omnis!</p>
        </article>
    </body>
</html>